.mahalo {
  font-size: max(2em, 11vw);
  font-family: fantasy;
  font-family: sans-serif;
}

.vessel {
  margin: auto;
  overflow-wrap: anywhere;
  padding: 1ex;
}

.aloha {
  margin: 0;
}

.helmet {
  min-height: 100vh;
}

.smelt {
  align-items: center;
  display: flex;
}

@media (orientation: portrait) {
  .smelt {
    writing-mode: vertical-rl;
  }
}
